# https://djecrety.ir/
SECRET_KEY=CHANGE_ME
DEBUG=False
ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DB_SQLITE=False
DB_NAME=rorow
DB_USER=rorow
DB_PASSWORD=rorow
DB_ENGINE=django.db.backends.postgresql
DB_HOST=127.0.0.1
DB_PORT=5432
# Host for sending e-mail.
EMAIL_HOST=localhost
EMAIL_PORT=25
DEFAULT_FROM_EMAIL=support@example.com
